/*cards*/
.card {
  height: 240px;
  position: relative;
  align-content: center;
}

.grey.lighten-4 {
    opacity: .85;
}

.card-content {
  position: absolute;
  bottom: 0;
}

.card-title {
  position: relative;
  font-weight: 600 !important;
}

.card .card-content .card-title {
    line-height: 25px !important;
}

.card .card-content p {
  font-weight: 600 !important;
}

.btn {
  background-color: red !important;
}

/*homepage structure*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('beerfoam.jpg');
  }

main {
  flex: 1 0 auto;
}


/*bottom nav*/

.footer-text {
  font-family: 'Righteous', cursive;
  font-size: 30px;
}

/*top nav*/
.nav-image {
  height: 300px;
  width: 250px;
  margin-left: 15px;
  margin-top: 15px;
}

.brand-logo {
  font-family: 'Righteous', cursive;
  font-size: 100px;
}
