/*cards*/
.card {
  height: 240px;
  position: relative;
  align-items: center;
}

.grey.lighten-4 {
  opacity: .85;
}

.card-content {
  position: absolute;
  bottom: 0;
  align-items: center;
}

.card-title {
  position: relative;
  font-weight: 600 !important;
}

.card .card-content .card-title {
  line-height: 25px !important;
}

.card .card-content p {
  font-weight: 600 !important;
}

.btn {
  background-color: red !important;
}

/*homepage structure*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('beerfoam.jpg');
}

main {
  flex: 1 0 auto;
}

/*bottom nav*/

.footer-text {
  font-family: 'Righteous', cursive;
  font-size: 30px;
  letter-spacing: 2px;
}

.randomize-button {
  margin-top: 10px;
}

/*top nav*/
.brand-logo {
  font-family: 'Righteous', cursive;
  letter-spacing: 3px;
}

/*top nav*/
#preloader {
  margin-top: 20%;
  align-self: center
}
