/*cards*/
.card {
  height: 240px;
  position: relative;
  align-content: center;
}

.card-content {
  position: absolute;
  bottom: 0;
  align-content: center
}

.card-title {
  position: relative;
}

/*homepage structure*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('Illustration10.jpg');

  }

main {
  flex: 1 0 auto;
}


/*bottom nav*/

.footer-text {
  font-family: 'Righteous', cursive;
}


/*top nav*/
.nav-image {
  height: 300px;
  width: 250px;
  margin-left: 15px;
  margin-top: 15px;
}

.brand-logo {
  font-family: 'Righteous', cursive;
  font-size: 100px;
}
